@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
body {
	
	font-weight: 500;
	background: hsl(230, 36%, 4%);
	color: hsl(0, 0%, 100%);
	letter-spacing: -1%;
	text-rendering: optimizeLegibility;
	font-family: 'Montserrat', sans-serif;

}


@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat.ttf");
  }



